<div class="container-fluid">

    <h1>Mon compte</h1>

    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" [routerLink]="['mon-profil']" routerLinkActive="active">Mon profil</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['reglages']" routerLinkActive="active">Réglages</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['mes-histoires']" routerLinkActive="active">Mes histoires</a></li>
            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>