<div class="container-fluid">

    <app-breadcrumb [breadcrumbSegments]="breadcrumbSegments"></app-breadcrumb>

    <div class="row mb-3">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" [routerLink]="['mes-histoires']" routerLinkActive="active">Mes histoires</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['mon-profil']" routerLinkActive="active">Mon profil</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['reglages']" routerLinkActive="active">Préférences</a></li>
            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>