<header>

  <!-- Site title and catchword -->
  <div class="container">
    <h1>{{ HEADER_H1 }}</h1>
    <h2>{{ HEADER_H2 }}</h2>
    <div>
      <span class="fa fa-book fa-3x" aria-hidden="true"></span>
      <!--<span class="fa fa-plus" aria-hidden="true"></span>-->
      <span class="fa fa-handshake-o fa-3x" aria-hidden="true"></span>
      <!--<span class="fa fa-chevron-right" aria-hidden="true"></span>-->
      <!--<span class="fa fa-smile-o fa-2x" aria-hidden="true"></span>-->
    </div>
  </div>

  <!-- Navigation bar -->
  <app-nav></app-nav>

</header>
