// default colors
:root {
  // main background color (for body element)
  --body-background-color: white;
  --header-background-color: null; // defined in themes
  --header-foreground-color: null; // defined in themes
  --button-primary-background-color: var(--header-background-color);
}

// pass variables into a sass map
$theme-colors: (
  --body-background-color: var(--body-background-color),
  --header-background-color: var(--header-background-color),
  --header-foreground-color: var(--header-foreground-color),
  --button-primary-background-color: var(--button-primary-background-color)
);

$light-gray: #c0c0c0;
