// default colors
:root {
  // all null values will be defined programatically in themeService
  --body-background-color: white; // main background color (for body element)
  --theme-primary-color: null;
  --theme-secondary-color: null;
  --header-foreground-color: null;
  --button-primary-background-color: var(--theme-primary-color);
}

// pass variables into a sass map
$theme-colors: (
  --body-background-color: var(--body-background-color),
  --theme-primary-color: var(--theme-primary-color),
  --theme-secondary-color: var(--theme-secondary-color),
  --header-foreground-color: var(--header-foreground-color),
  --button-primary-background-color: var(--button-primary-background-color)
);

$light-gray: #c0c0c0;
