<h4>Étape 1 : minimum vital</h4>

<div class="row">
    <div class="col-6">
        <form [formGroup]="stepTitleForm" #f=ngForm>

            <div class="form-group">
                <label for="storyTitle">Quel est le titre de votre histoire ?</label>
                <input id="storyTitle" formControlName="storyTitle" type="text" autocomplete="off" class="form-control" #storyTitleElement />
                <div *ngIf="stepTitleForm.get('storyTitle').invalid && stepTitleForm.get('storyTitle').touched">
                    <div *ngIf="stepTitleForm.get('storyTitle').errors.required" class="error-msg">Renseignez un titre pour
                        votre histoire.</div>
                    <div *ngIf="stepTitleForm.get('storyTitle').errors.minlength" class="error-msg">Le titre doit comporter
                        au moins 3 caractères.</div>
                    <div *ngIf="stepTitleForm.get('storyTitle').errors.maxlength" class="error-msg">Le titre ne doit pas
                        dépasser 100 caractères.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="storyIsOriginal">S'agit-il d'une histoire originale ou d'une fanfiction ?</label>
                <select id="storyIsOriginal" formControlName="storyIsOriginal" class="form-control">
                    <option value="true">Histoire originale</option>
                    <option value="false">Fanfiction</option>
                </select>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-create-story-buttons-group 
            [step]="1"
            [saveButtonsDisabled]="f.invalid || backendOperationInProgress"
            (nextStep)="onNextStep()"
            (finish)="onFinish()">
        </app-create-story-buttons-group>
    </div>
</div>