
<div class="container-fluid">

  <h1>Page non trouvée</h1>

  <div class="row">
    <div class="col-12">
      <p>
        Pas de chance... cette page n'existe pas ! Mais comment êtes-vous arrivé là ? O_o <br/>
        Si vous êtes un hacker ou un professionnel réalisant des tests d'intrusion sur notre site, merci de passer votre chemin et d'aller voir ailleurs si nous y sommes (comme dirait Gandalf, vous ne passerez pas !). <br/>
        Si vous êtes un simple utilisateur, déjà sachez qu'on vous aime. Et ensuite, arrêtez de cliquer n'importe où svp.
      </p>
      <p>
        Si vous pensez que ce message est affiché à tort, et que la page que vous essayez de visualiser devrait bel et bien exister, vous pouvez contacter, au choix :
      </p>
      <ul>
        <li>Le Père Noël (souvent débordé...)</li>
        <li>L'équipe du site (toujours à l'écoute !)</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a routerLink="/accueil">Retour à l'accueil</a>
    </div>
  </div>

</div>
