
<div class="container-fluid">

  <app-breadcrumb [breadcrumbSegments]="[
    { title: 'Sharpink', url: '/'},
    { title: 'Support' }
  ]"></app-breadcrumb>
  
  <h1>Contacter l'équipe du site</h1>

  <div class="row">
    <div class="col-12">
      <p>
        Ah tiens, salut, vous !
      </p>
      <p>
        Si vous avez atterri sur cette page, ce n'est a priori pas pour nous raconter votre journée au travail... Si vous avez rencontré un problème en naviguant sur le site, on s'en excuse humblement.
        Grâce à ce formulaire, vous pouvez nous contacter pour nous dire quel est votre souci. Renseignez un maximum de détails, on ne sait jamais, ça peut toujours nous aider à trouver la solution.
      </p>
      <p>
        Mais si vous avez juste envie de nous envoyer un petit message pour nous dire que tout va bien dans votre vie, et que vous adooorez notre site (au minimum avec trois 'o'), vous êtes aussi au bon endroit ! <br/>
        Allez, on ne vous retient pas plus longtemps, défoulez-vous, martyrisez votre clavier et saturez notre base de données avec votre roman ! ;-)
      </p>
      <p>
        P.S. : votre message n'est pas obligé de commencer par "Bonjour", mais en le faisant, vous donnerez le sourire à celui qui lira ce message. Et c'est toujours plus sympa ! :-)
        D'autant plus qu'il a sûrement le pouvoir d'effacer toutes vos histoires du site, alors...
      </p>
    </div>
  </div>

</div>
