
<nav class="navbar navbar-expand">

  <!-- Site navigation menu -->
  <div class="navbar-nav nav-justified w-100 align-items-baseline">
    <a class="nav-item nav-link" routerLink="/accueil" routerLinkActive="active">
      <span class="fa-stack fa-2x">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fab fa-fort-awesome fa-stack-1x"></i>
      </span>Accueil
    </a>
    <a class="nav-item nav-link" routerLink="/histoires" routerLinkActive="active"><i class="fa fa-book"></i>Lecture</a>
    <a class="nav-item nav-link" routerLink="/mon-compte" routerLinkActive="active"><i class="fa fa-folder-open"></i>Mon compte</a>
    <a class="nav-item nav-link" routerLink="/communaute" routerLinkActive="active"><i class="fa fa-users"></i>Communauté</a>
    <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active"><i class="fa fa-question-circle"></i>Support</a>
  </div>

  <!-- Log-in area (login/logout button + connected member) -->
  <app-login-status class="ml-auto"></app-login-status>

</nav>
