
@import 'src/assets/scss/theme';

$navbar-background-color-light-gray: $light-gray;

.navbar {
  padding: 0;
  background-color: $navbar-background-color-light-gray;
}

.navbar .navbar-nav {
  width: 75%;
}

.navbar-nav a {
  padding: 25px 0 29px 0;
  color: var(--header-foreground-color);
}

.navbar-nav a:hover {
  background-color: darken($navbar-background-color-light-gray, 5%);
  cursor: pointer;
}

.navbar-nav a.active {
  color: var(--theme-secondary-color);
}

.fa, .fab, .far {   
  color: var(--theme-secondary-color);
  margin-right: 4px;
}

// specific for the first nav link (home) : bigger icon
span.fa-stack {
  font-size: 1.2em;
  font-weight: bold;
}
.navbar-nav .nav-item:first-child {
  padding: 20px 0; // we must adapt padding to avoid breaking everything with the bigger icon .fa-fort-awesome
}
