
.navbar {
  border-top: 1px solid rgba(70, 70, 90, 0.3);
  margin-top: 30px;
  background-color: #24292E;
}

.navbar, .navbar-nav{
  padding: 0;
}

.navbar-nav a {
  padding: 20px 20px;
  height: 100%;
  font-size: 1.1em;
  color: white;
}

.navbar-nav a:hover {
  background-color: #1C2329;
  cursor: pointer;
}

.navbar-nav a span.fa {
  margin-right: 4px;
  color: #00A0FF;
}
