
<h1>La communauté SharpInk</h1>

<div class="row mt-4 mb-5">
    <div class="col-4 mx-auto text-center">
        <a class="btn btn-primary btn-lg px-3 py-4" [routerLink]="['/communaute/forum']">Consulter le forum</a>
    </div>
</div>

<div class="row">

    <div class="col-7">
        <h2>
            Les petits nouveaux
            <small class="text-muted">(derniers membres incrits)</small>
        </h2>
    </div>

    <div class="col-5">
        <app-last-activity></app-last-activity>
    </div>

</div>