
<app-loading *ngIf="isLoading"></app-loading>

<h1 *ngIf="!isLoading">{{ thread.title }}</h1>

<div *ngIf="!isLoading">

    <div *ngFor="let message of thread.messages" class="row m-1 message">
        <div class="col-12 py-2">
            <div>
                <span class="message-author">{{ message.authorNickname }} - </span>
                <span class="message-date">{{ formatDate(message.publicationDate) }}</span>
                <span *ngIf="showActions(message)" class="float-right">
                    <button class="btn btn-outline-primary btn-xs mr-1"><span class="fa fa-pen"></span></button>
                    <button class="btn btn-outline-primary btn-xs" (click)="removeMessage(thread.id, message)"><span class="fa fa-trash"></span></button>
                </span>
            </div>
            <div markdown [data]="message.content" class="message-content"></div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <form [formGroup]="answerForm" #f=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <ckeditor #editor [editor]="ckEditor" [config]="ckEditorConfig" (ready)="onEditorReady($event)" formControlName="message"></ckeditor>
                    <div *ngIf="f.invalid && answerForm.get('message').touched" class="error-msg">Ce champ est obligatoire.</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Répondre" class="btn btn-primary" [disabled]="f.invalid"/>
                </div>
            </form>
        </div>
    </div>

</div>