
<app-loading *ngIf="isLoading"></app-loading>

<h1 *ngIf="!isLoading">{{ thread.title }}</h1>

<div *ngIf="!isLoading">

    <div *ngFor="let message of thread.messages" class="row m-1">
        <div class="col-12 message py-2">
            <div>
                <span class="message-author">{{ message.authorNickname }} - </span>
                <span class="message-date">{{ formatDate(message.publicationDate) }}</span>
            </div>
            <div class="message-content">
                {{ message.content }}
            </div>
        </div>
    </div>

</div>