
.summary-content {
    font-size: 0.875rem;
}

.tiles-display .col {
    height: 260px;
}

.card {
    border-width: 2px;
}

.card:hover {
    border-color: var(--theme-secondary-color);
    cursor: pointer;
}

.card-header {
    padding: 0.8rem 0.5rem;
    // to make overflow and ellipsis work correctly
    min-width: 0;
}

.card-header .story-title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.card-body {
    padding: 0.8rem 0.5rem;
    overflow-y: auto;
}

.card-footer {
    padding: 0.5rem;
    background-color: inherit;
}

.tiles-display ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.tiles-display ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.thumbnail {
    border: 2px solid var(--theme-secondary-color);
    margin-right: 0.75rem;
    width: 60px;
    height: 60px;
}
