<div class="row mb-5">
    <div class="col-12">
        Ici vous pouvez gérer vos histoires. Créez-en de nouvelles, ajoutez des chapitres,...
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary btn-lg" (click)="goToCreation()">
            <div class="fa fa-plus"></div>
            <div>Créer une histoire</div>
        </button>
    </div>
</div>

<div class="row no-gutters mx-n2 tiles-display" [ngClass]="{ 'row-cols-2': myStories.length <= 4, 'row-cols-3': myStories.length > 4 }">
    <div class="col mb-3 px-2" *ngFor="let story of myStories">
        <div class="card h-100" (click)="goToEdition(story.id)">
            <div class="card-header d-flex justify-content-center align-items-center">
                <span class="story-title" title="{{ story.title }}">{{ story.title }}</span>
            </div>
            <div class="card-body summary-content">
                <img *ngIf="story.thumbnail" [src]="story.thumbnail" class="float-left thumbnail"/>
                <div [innerHTML]="story.summary != null ? story.summary : 'Aucun résumé'"></div>
                <span class="badge badge-light">{{ story.chaptersNumber }} chapitre{{ story.chaptersNumber > 0 ? 's' : '' }}</span>
            </div>
            <div class="card-footer">
                <a [routerLink]="['..', story.id]" class="btn btn-xs btn-primary ml-auto mr-2" title="Éditer l'histoire">
                    <span class="fa fa-pen"></span>
                </a>
                <a [routerLink]="['..', story.id, 'ajouter-chapitre']" class="btn btn-xs btn-primary mr-2" title="Ajouter un chapitre">
                    <span class="fa fa-plus"></span>
                </a>
                <button type="button" (click)="removeStory(story, $event)" class="btn btn-xs btn-outline-secondary"
                    title="Supprimer l'histoire">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>