
tbody tr:hover {
  background-color: lightgrey;
  cursor: pointer;
}

// first column (title + thumbnail)
td:nth-child(1) img {
  border: 1px solid var(--theme-secondary-color);
  width: 50px;
  height: 50px;
}

// all column except the first
td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
  font-size: 0.85rem;
}
