
<div class="container-fluid">

  <h1>Les histoires de la communauté</h1>

  <div class="row">
    <div class="col">

      <h2>Liste des histoires</h2>
      
      <div class="row mb-2">
        <div class="col">
          <p>Cette page liste toutes les histoires. Elles sont classées par ordre décroissant de modification (comptent uniquement la création de l'histoire ou l'ajout d'un chapitre). Vous pouvez également choisir d'autres critères de tri.</p>
          <p>Pour avoir un bref aperçu d'une histoire, cliquez sur la ligne de celle-ci dans le tableau. Pour en commencer la lecture, cliquer sur le bouton 'Lire'.</p>
        </div>
      </div>
      
      <app-loading *ngIf="isLoading"></app-loading>

      <div class="row" *ngIf="!isLoading">
        <div class="col">
          <table class="table table-sm">
            <thead>
              <tr class="d-flex">
                <th class="col-3">Titre</th>
                <th class="col-1">Auteur</th>
                <th class="col-1">Mise à jour</th>
                <th class="col-6">Résumé</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let story of allStories" (click)="showPreview(story)" class="d-flex">
                <td class="col-3 d-flex align-items-center">
                  <span class="story-title">{{ story.title }}</span>
                  <img *ngIf="story.thumbnail" class="ml-auto" [src]="story.thumbnail" />
                </td>
                <td class="col-1 d-flex align-items-center">{{ story.author.nickname }}</td>
                <td class="col-1 d-flex align-items-center">{{ lastUpdateDate(story) }}</td>
                <td class="col-6 d-flex align-items-center text-justify" [innerHTML]="story.summary != null ? replaceParagraphsWithDiv(story.summary) : 'Pas de résumé'"></td>
                <td class="col-1 d-flex align-items-center"><a [routerLink]="['../lire', story.id]" class="btn btn-primary btn-sm">Lire</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
