
<div class="container-fluid">

  <app-breadcrumb [breadcrumbSegments]="[
    { title: 'Sharpink', url: '/'},
    { title: 'Lecture' }
  ]"></app-breadcrumb>

  <h1>Les histoires de la communauté</h1>

  <div class="row">
    <div class="col">
      
      <div class="row mb-2">
        <div class="col">
          <p>Cette page liste toutes les histoires publiées par les membres de la communauté Sharpink. Elles sont classées par ordre décroissant de modification.
            Vous pouvez également choisir d'autres critères de tri. Seules les histoires ayant au moins un chapitre sont affichées.
            </p>
          <p>Pour avoir un bref aperçu d'une histoire, cliquez sur la ligne de celle-ci dans la liste. Pour en commencer la lecture, cliquer sur le bouton 'Lire'.</p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-2"><small><strong>Rechercher des histoires :</strong></small></div>
        <div class="col-6">
          <form class="form-inline" [formGroup]="searchForm" (submit)="searchStories()">
            <div class="form-group">
              <input type="search" class="form-control form-control-sm mr-2" placeholder="par titre" formControlName="title" />
              <input type="search" class="form-control form-control-sm mr-3" placeholder="par auteur" formControlName="authorName" />
              <button type="submit" class="btn btn-primary btn-sm mr-1">
                <span class="fa fa-search"></span>
              </button>
              <button type="button" class="btn btn-secondary btn-sm" title="Effacer la recherche" (click)="clearSearch()">
                <span class="fa fa-undo"></span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <app-loading *ngIf="isLoading"></app-loading>

      <div class="row" *ngIf="!isLoading">
        <div class="col">
          <table class="table table-sm">
            <thead>
              <tr class="d-flex">
                <th class="col-3">Titre</th>
                <th class="col-1">Auteur</th>
                <th class="col-1">Mise à jour</th>
                <th class="col-6">Résumé</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let story of allStories" (click)="showPreview(story)" class="d-flex">
                <td class="col-3 d-flex align-items-center">
                  <span class="story-title">{{ story.title }}</span>
                  <img *ngIf="story.thumbnail" class="ml-auto" [src]="story.thumbnail" />
                </td>
                <td class="col-1 d-flex align-items-center">{{ story.author.nickname }}</td>
                <td class="col-1 d-flex align-items-center">{{ lastUpdateDate(story) }}</td>
                <td class="col-5 d-flex align-items-center text-justify" [innerHTML]="story.summary != null ? replaceParagraphsWithDiv(story.summary) : 'Pas de résumé'"></td>
                <td class="col-2 d-flex align-items-center">
                  <a [routerLink]="['../lire', story.id]" class="btn btn-primary btn-sm mr-1">Lire</a>
                  <button class="btn btn-outline-primary btn-sm" (click)="goToStoryThread(story, $event)" title="Aller à la discussion"><span class="far fa-comment-dots"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
