
<div class="container-fluid">

  <h1>Les histoires de la communauté</h1>

  <app-loading *ngIf="isLoading"></app-loading>

  <div class="row" *ngIf="!isLoading">

    <div class="col">
      <h2>
        Liste des histoires
      </h2>
      <div class="row">
        <div class="col">
          <p>
            Cette page liste toutes les histoires. Elles sont classées par ordre décroissant de modification. La première histoire de la liste est celle qui a été modifiée le plus récemment (ajout ou modification de chapitre). Vous pouvez également choisir d'autres critères de tri.
          </p>
          <p>
            Pour avoir un bref aperçu d'une histoire, cliquez sur la ligne de celle-ci dans le tableau. Pour en commencer la lecture, cliquer sur le bouton 'Lire'.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Résumé</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let story of allStories" (click)="showPreview(story)">
                <td>{{ story.title }}</td>
                <td>{{ story.author.nickname }}</td>
                <td>{{ story.summary != null ? story.summary : 'Aucun résumé' }}</td>
                <td><a [routerLink]="['../lire', story.id]" class="btn btn-primary">Lire</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
