<h2>Gérer mon profil</h2>

<div *ngIf="!hasProfileDetails" class="row">
  <div class="col-12">
    Vous pouvez renseigner votre profil afin que les autres membres de SharpInk en sachent plus sur vous.
  </div>
</div>

<div class="row">
  <div class="col-12">
    Vous pouvez renseigner ici certaines informations personnelles si vous le souhaitez. Ce sont les informations que
    les autres membres
    peuvent voir lorsqu'ils consultent votre profil.
  </div>
</div>

<hr>

<div class="row mb-4">
  <div class="col-12">
    <button *ngIf="!isEditingProfile" type="button" class="btn btn-primary" (click)="toggleEditingMode()">Éditer mon
      profil</button>
    <button *ngIf="isEditingProfile" type="button" class="btn btn-primary btn-sm mr-1"
      (click)="updateProfile()">Enregistrer les modifications</button>
    <button *ngIf="isEditingProfile" type="button" class="btn btn-outline-warning btn-sm"
      (click)="toggleEditingMode()">Annuler l'édition</button>
  </div>
</div>

<div *ngIf="isEditingProfile" class="row mb-3">
  <div class="col-12 text-muted">
    Les informations marquées d'un astérisque (*) sont obligatoires.
  </div>
</div>

<form [formGroup]="editProfileForm">

  <div class="row form-group">
    <label class="col-2 col-form-label text-right" for="nickname">Pseudo</label>
    <label *ngIf="!isEditingProfile" class="col-2 offset-1 col-form-label">{{ member.nickname }}</label>
    <input *ngIf="isEditingProfile" class="col-2 offset-1 form-control" formControlName="nickname" />
    <div *ngIf="isEditingProfile" class="col-1 col-form-label mandatory-indicator">*</div>
  </div>

  <div class="row form-group">
    <label class="col-2 col-form-label text-right" for="email">Email</label>
    <label *ngIf="!isEditingProfile" class="col-2 offset-1 col-form-label">{{ member.email }}</label>
    <input *ngIf="isEditingProfile" class="col-2 offset-1 form-control" formControlName="email" id="email" />
  </div>

  <div class="row form-group">
    <label class="col-2 col-form-label text-right" for="firstName">Prénom</label>
    <label *ngIf="!isEditingProfile" class="col-2 offset-1 col-form-label">{{ member.memberDetails?.firstName }}</label>
    <input *ngIf="isEditingProfile" class="col-2 offset-1 form-control" formControlName="firstName" id="firstName" />
  </div>

  <div class="row form-group">
    <label class="col-2 col-form-label text-right" for="lastName">Nom</label>
    <label *ngIf="!isEditingProfile" class="col-2 offset-1 col-form-label">{{ member.memberDetails?.lastName }}</label>
    <input *ngIf="isEditingProfile" class="col-2 offset-1 form-control" formControlName="lastName" id="lastName" />
  </div>

  <div class="row form-group">
    <label class="col-2 col-form-label text-right" for="picture">Image de profil</label>
    <img *ngIf="member.memberDetails?.profilePicture" class="col-2 offset-1 profile-picture"
      [src]="member.memberDetails.profilePicture" alt="Image non trouvée" />
    <div *ngIf="!member.memberDetails?.profilePicture" class="col-2 offset-1 col-form-label">Aucune image de profil
    </div>
  </div>
  <div *ngIf="isEditingProfile" class="row form-group">
    <input type="file" class="offset-3" accept="image/*" (change)="onFileChange($event.target.files[0])" />
  </div>

</form>