
<div class="container-fluid">

  <app-breadcrumb [breadcrumbSegments]="breadcrumbSegments"></app-breadcrumb>

  <div class="row">

    <!-- Section principale contenant soit la liste des membres, soit le forum, soit le chat -->
    <div class="col-7">
      <router-outlet></router-outlet>
    </div>

    <!-- Section secondaire, contenant quelques éléments d'actualité du site, tels que la liste des membres connectés, le dernier post du forum,... -->
    <div class="col-5">
        <app-last-activity></app-last-activity>
    </div>

  </div>

</div>
