
<div *ngIf="story">

    <h2>Aperçu de l'histoire {{ story.title }}</h2>

    <div *ngIf="story.chapters && story.chapters[0]; else noChapters" class="row">
        <div *ngIf="story.chapters[0].content.length <= 500; else contentTooLong" class="col-12">{{ story.chapters[0].content }}</div>
        <ng-template #contentTooLong>
            <div class="col-12">{{ story.chapters[0].content.substring(0, 500).trim() + '[...]' }}</div>
        </ng-template>
    </div>
    <ng-template #noChapters>
        <div class="col-12">Aucun aperçu n'est disponible car il n'y a pas encore de chapitre pour cette histoire.</div>
    </ng-template>

    <div class="row">
        <div class="col-12">
            <a [routerLink]="['/histoires/lire', story.id]">Lire la suite</a>
        </div>
    </div>

</div>

