
<div class="row">
    <div class="col-12 text-center">
        <div class="display-chapter-title mb-3">{{ selectedChapter.position }} - {{ selectedChapter.title }}</div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12 text-justify">
        {{ selectedChapter.content }}
    </div>
</div>

<div class="row">
    <div class="col-4 mx-auto">
        <app-pagination [centered]="true" 
            [collection]="chapters"
            [itemsPerPage]="1"
            [previousLabel]="'Précédent'" [nextLabel]="'Suivant'"
            (pageChange)="goToChapter($event)"
        ></app-pagination>
    </div>
</div>