/* You can add global styles to this file, and also import other style files */

@import 'src/assets/scss/theme';
@import 'src/assets/scss/functions';

html, body {
    height: 100%;
    min-height: 100%;
    background-image: url('assets/images/cool-background-white-transparent-2.png');
    background-color: var(--body-background-color);
}

.big-text-2 {
  font-size: 2em;
}

/* *************************************************
 * Layout Bootstrap
 * *************************************************
 */

.container-fluid {
  padding-top: 15px;
}

/* *************************************************
 * Titres (h1, h2,...)
 * *************************************************
 */

h1 {
  border-left: 4px solid var(--button-primary-background-color);
  padding-left: 5px;
}

h2 {
  border-left: 3px solid var(--button-primary-background-color);
  padding-left: 5px;
}

h3 {
  border-left: 2px solid var(--button-primary-background-color);
  padding-left: 5px;
}

/* *************************************************
 * Liens
 * *************************************************
 */

a {
  color: var(--button-primary-background-color);
}

/* ************************************************
 * Boutons (override les styles de Bootstrap)
 * ************************************************
 */

.btn.btn-primary, .btn.btn-primary:not(:disabled):active {
  background-color: var(--button-primary-background-color);
  border: none;
}

.btn.btn-secondary {
  background-color: $light-gray;
  color: white;
  border: none;
}

.btn.btn-outline-primary, .btn.btn-outline-primary:not(:disabled):active {
  background-color: white;
  color: var(--button-primary-background-color);
  border-color: var(--button-primary-background-color);
}

.btn.btn-outline-primary:not(:disabled):hover {
  background-color: var(--button-primary-background-color);
  color: white;
}

/* *************************************************
 * Badges (override les styles de Bootstrap)
 * ************************************************
 */

 .badge-primary {
   border: 1px solid black;
   background-color: var(--button-primary-background-color);
   opacity: 80%
 }

 /* *************************************************
 * Onglets (override les styles de Bootstrap)
 * ************************************************
 */

.nav-tabs {
  border-bottom-color: var(--button-primary-background-color);
}

.nav-tabs .nav-link.active {
  border-color: var(--button-primary-background-color) var(--button-primary-background-color) var(--body-background-color);
  background-color: var(--theme-primary-color);
  color: var(--body-background-color);
  opacity: 70%;
}

.nav-tabs .nav-link:hover:not(.active) {
  border-color: var(--button-primary-background-color);
  border-bottom-color: var(--body-background-color);
  background-color: var(--body-background-color);
  color: var(--theme-primary-color);
}

.nav-tabs .nav-link.active:hover {
  cursor: default;
}

/* *************************************************
 * Formulaires
 * *************************************************
 */

// champs en erreur
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}

ckeditor.ng-touched.ng-invalid .ck.ck-editor {
  border: 1px solid red;
  border-radius: 0.25rem;
}

// messages d'erreur en-dessous des champs
.error-msg {
  color: red;
  font-size: 80%;
}

/* *************************************************
 * Wysiwyg editor (CKEditor)
 * *************************************************
 */

.ck-editor__editable_inline {
  min-height: 200px;
  max-height: 700px;
}

/* ******************************************
 * Notifications (override les styles de
 * ngx-toaster en bootstrap-like)
 * ******************************************
 */

.ngx-toastr.toast-success {
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(21,87,36)' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E");
  color: #155724;
}

.ngx-toastr.toast-error {
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(114,28,26)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
  color: #721C1A;
}
.toast-info {
  // TODO
}
.toast-warning {
  // TODO
}

.toast-close-button {
  color: inherit;
}

/* *************************************************
 * Divers
 * *************************************************
 */

.mandatory-indicator {
  color: var(--theme-primary-color);
}

.story-title {
  font-family: fantasy;
  text-decoration: underline;
  color: var(--theme-secondary-color);
}

.chapter-content p {
  margin-bottom: 0.25em;
  text-indent: 20px;
}