/* You can add global styles to this file, and also import other style files */

@import 'src/assets/scss/theme';
@import 'src/assets/scss/functions';

html, body {
    height: 100%;
    min-height: 100%;
    background-image: url('assets/images/cool-background-white-transparent-2.png');
    background-color: var(--body-background-color);
}

.big-text-2 {
  font-size: 2em;
}

/* *************************************************
 * Layout Bootstrap
 * *************************************************
 */

.container-fluid {
  padding-top: 15px;
}

/* *************************************************
 * Titres (h1, h2,...)
 * *************************************************
 */

h1 {
  border-left: 3px solid var(--button-primary-background-color);
  margin-bottom: 20px;
  padding-left: 0.5rem;
  font-size: 1.7rem;
}

h2 {
  border-left: 3px solid var(--button-primary-background-color);
  margin-bottom: 15px;
  padding-left: 5px;
  font-size: 1.4rem;
}

h3 {
  border-left: 3px solid var(--button-primary-background-color);
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 1.2rem;
}

/* *************************************************
 * Liens
 * *************************************************
 */

a {
  color: var(--button-primary-background-color);
  //color: #505050;
}

/* ************************************************
 * Boutons (override les styles de Bootstrap)
 * ************************************************
 */

.btn.btn-primary, .btn.btn-primary:not(:disabled):active {
  background-color: var(--button-primary-background-color);
  border: none;
}

.btn.btn-secondary {
  background-color: $light-gray;
  color: white;
  border: none;
}

.btn.btn-outline-primary, .btn.btn-outline-primary:not(:disabled):active {
  background-color: white;
  color: var(--button-primary-background-color);
  border-color: var(--button-primary-background-color);
}

.btn.btn-outline-primary:not(:disabled):hover {
  background-color: var(--button-primary-background-color);
  color: white;
}

.btn.btn-xs { // smaller button than Bootstrap btn-sm
  padding: 0.2rem 0.3rem;
  font-size: 0.7rem;
  line-height: 1.4;
  border-radius: 0.2rem;
}

/* ************************************************
 * Switches (override les styles de Bootstrap)
 * ************************************************
 */

 .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: var(--theme-primary-color);
  background-color: var(--theme-primary-color);
 }

 /* *************************************************
 * Onglets (override les styles de Bootstrap)
 * ************************************************
 */

.nav-tabs {
  border-bottom-color: var(--button-primary-background-color);
}

.nav-tabs .nav-link.active {
  border-color: var(--button-primary-background-color) var(--button-primary-background-color) var(--body-background-color);
  background-color: var(--theme-primary-color);
  color: var(--body-background-color);
  opacity: 70%;
}

.nav-tabs .nav-link:hover:not(.active) {
  border-color: var(--button-primary-background-color);
  border-bottom-color: var(--body-background-color);
  color: var(--theme-primary-color);
}

/* *************************************************
 * Fil d'ariane (override les styles de Bootstrap)
 * *************************************************
 */
 
.breadcrumb {
  border-left: 3px solid var(--theme-primary-color);
  border-radius: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
}
 
.breadcrumb-item+.breadcrumb-item::before {
  content: ">"; // override le séparateur par défaut de Bootstrap
}

/* *************************************************
 * Forms
 * *************************************************
 */

 .form-control {
   color: black; // override Bootstrap color
 }

// champs en erreur
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}

ckeditor.ng-touched.ng-invalid .ck.ck-editor {
  border: 1px solid red;
  border-radius: 0.25rem;
}

// messages d'erreur en-dessous des champs
.error-msg {
  color: red;
  font-size: 80%;
}

/* *************************************************
 * Wysiwyg editor (CKEditor)
 * *************************************************
 */

.ck.ck-toolbar, .ck.ck-editor__editable {
  border-color: #CED4DA;
}

.ck-editor__editable_inline {
  min-height: 200px;
  max-height: 700px;
}

/* ******************************************
 * Notifications (override les styles de
 * ngx-toaster en bootstrap-like)
 * ******************************************
 */

.ngx-toastr.toast-success {
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(21,87,36)' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E");
  color: #155724;
}

.ngx-toastr.toast-error {
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(114,28,26)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
  color: #721C1A;
}
.ngx-toastr.toast-info {
  // TODO
}
.ngx-toastr.toast-warning {
  border: 1px solid #f5c6cb;
  background-color: #FFF3CD;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgba(133, 100, 4, 0.999999)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
  color: #856404;
}

.toast-close-button {
  color: inherit;
}

/* *************************************************
 * Divers
 * *************************************************
 */

.mandatory-indicator {
  color: var(--theme-primary-color);
}

.story-title {
  font-family: fantasy;
  text-decoration: underline;
  color: var(--theme-secondary-color);
}
span.story-title, span.chapter-title {
  display: inline-block; // ::first-letter does not work on inline elements
}
.story-title::first-letter, .chapter-title::first-letter {
  text-transform: uppercase;
}

.chapter-title {
  text-decoration: inherit;  
}

.chapter-content p {
  margin-bottom: 0.4em;
  text-indent: 20px;
}
.summary-content p {
  margin-bottom: 0.4em;
}