
<div class="container-fluid">

  <h1>Bienvenue sur SharpInk !</h1>

  <div class="row">
    <div class="col">
      <p>
        <strong>SharpInk</strong> est une communauté de littérature amateure, destinée à la foix aux écrivains et aux lecteurs : chacun peut y trouver son compte ! <br/>
        Ce site a pour but de mettre à votre disposition une plate-forme intuitive, épurée et agréable à utiliser. Pensée par des développeurs, son interface se veut moderne et utilise les technologies les plus récentes pour vous offrir un design efficace et une navigation optimale ! <br/>
        Que vous soyez un écrivain amateur qui souhaite publier ses textes pour les partager avec le plus grand nombre,
        ou bien un féru de littérature qui a écumé toutes les bibliothèques du monde et n'a plus rien à se mettre sous la dent, vous trouverez ici votre bonheur.
        Publiez vos textes et échangez avec vos lecteurs, ou trouvez votre future lecture de chevet. Profitez également du chat ou du forum pour discuter avec d'autres personnes, car la littérature est avant tout une passion qui se partage...
      </p>
    </div>
  </div>

  <div class="row" style="text-align: center">
    <div class="col">
      <div class="row"><div class="col"><img src="assets/images/ecrire.jpg" alt="ÉCRIRE"></div></div>
      <div class="row"><div class="col"><span class="big-text-2">ÉCRIRE</span></div></div>
      <div class="row"><div class="col">Publiez et gérez vos textes en toute simplicité.</div></div>
    </div>
    <div class="col">
      <div class="row"><div class="col"><img src="assets/images/lire.png" alt="LIRE"></div></div>
      <div class="row"><div class="col"><span class="big-text-2">LIRE</span></div></div>
      <div class="row"><div class="col">Lisez ce que vous voulez, quand vous voulez.</div></div>
    </div>
    <div class="col">
      <div class="row"><div class="col"><img src="assets/images/echanger.jpg" alt="ÉCHANGER"></div></div>
      <div class="row"><div class="col"><span class="big-text-2">ÉCHANGER</span></div></div>
      <div class="row"><div class="col">Discutez avec d'autres passionnés de littérature.</div></div>
    </div>
  </div>
  
  <!-- parallax element (uses Rellax.js) -->
  <div class="rellax moon" data-rellax-speed="5"><i class="fa fa-moon"></i></div>
  <div class="rellax sun" data-rellax-speed="7"><i class="fa fa-sun"></i></div>

</div>
