
.container-fluid {
  height: 100%;
}

.sharpink-feature {
  color: var(--theme-secondary-color);
}

img {
  width: 200px;
  height: 200px;
}

// parallax elements
.rellax.moon {
  font-size: 3em;
}
.rellax.sun {
  font-size: 4em;
  color: #F0D000;
}
