
.container-fluid {
  height: 100%;
}

.sharpink-feature {
  background-image: linear-gradient(to bottom, var(--theme-primary-color), var(--theme-secondary-color));
  color: white;
}

img {
  width: 200px;
  height: 200px;
}

// parallax elements
.rellax.moon {
  font-size: 3em;
}
.rellax.sun {
  font-size: 4em;
  color: #F0D000;
}
