
.container-fluid {
  height: 100%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

// parallax elements
.rellax.moon {
  font-size: 3em;
}
.rellax.sun {
  font-size: 4em;
  color: #F0D000;
}
