
<div class="container-fluid">

  <h1>Connexion</h1>

  <div class="row justify-content-center">
    <div class="col-4 signin-form">
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="text-center">

        <div class="form-group">
          <input
            id="login"
            formControlName="login"
            type="text"
            placeholder="Votre pseudo ou votre email"
            class="form-control"
          />
          <input
            id="password"
            formControlName="password"
            type="password"
            placeholder="Votre mot de passe"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-primary text-center">Connexion</button>

      </form>
    </div>
  </div>

</div>
